{% block content %}

<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="description" content="">
<meta name="author" content="">

<!--     Fonts and icons     -->
<!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
<!-- <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'> -->
<link href="/static/css/main-base.css" rel="stylesheet">
<link href="/static/css/streamItem.css" rel="stylesheet">
<link href="/static/css/fonts-latin-base.css" rel="stylesheet" type="text/css">


<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

<!-- jQuery -->
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- <script charset="UTF-8" src="/static/js/main-base.bundle.js" ></script>
<script charset="UTF-8" src="/static/js/main-common-async.bundle.js" async></script>
<script charset="UTF-8" src="/static/js/main-notes.bundle.js" ></script> -->
<script> $(document).ready(function(){
  var clicked = false;

  $("blockquote").on("click", function(){
    // console.log("clicked!");
    // console.log($(this).attr('style'));
    if (clicked) {
      $(this).attr('style', "height:120px;");
      $(this).children("#1").hide();
      $(this).children("#2").show();
    }else{
      $(this).attr('style', "height:auto");
      $(this).children("#1").show();
      $(this).children("#2").hide();
    }
    clicked = !clicked;
  })
})
</script>

<script>if (window.module) module = window.module;</script>
<!-- <script>document.body.className = document.body.className.replace(/(^|\s)is-noJs(\s|$)/, "$1is-js$2")</script> -->

<title>News Digest</title>


</head>

{% endblock %}
