<!DOCTYPE html>
<html lang="en">
{% include 'Header.html' %}

<body itemscope class=" postShowScreen is-noJs">
   <div class="site-main" id="container">
      <div class="butterBar butterBar--error"></div>
      <div class="surface">
         <div id="prerendered" class="screenContent">
            <div class="container u-maxWidth740 u-xs-margin0 notesPositionContainer js-notesPositionContainer"></div>
            {% include 'TopBar.html' %}
            <div class="u-sizeViewHeightMin100 u-paddingTop35 u-clearfix u-backgroundBlueLightest">
              <header class="u-flex u-marginAuto u-maxWidth1000 u-marginTop20 u-marginBottom20 u-paddingBottom20 u-borderBottomLightest u-sm-marginLeft20 u-sm-marginRight20 u-xs-marginTop0 u-xs-flexWrap">
                 <span class="u-flex1">
                    <h1 class="u-fontSize32 u-xs-fontSize24 u-fontWeightBold u-textColorDarkest u-letterSpacing003 u-paddingBottom5 js-topicName">Popular on Medium</h1>
                    <span class="u-fontSize16 u-textColorDarker u-fontWeightNormal">Most popular today</span>
                 </span>
              </header>
              <div class="js-topicStream">
                {% include 'TopicBoard.html' %}
              </div>
        </div>
      </div>
    </div>
</body>

</html>
