<div class="streamItem streamItem--section js-streamItem">
   <section class="u-marginAuto u-borderBox u-maxWidth1000 u-clearfix u-marginBottom60 u-sm-paddingLeft20 u-sm-paddingRight20">
      <header class="u-marginBottom15 u-paddingBottom5">
         <header class="heading u-clearfix">
            <div class="u-clearfix">
               <div class="heading-content u-floatLeft"><span class="heading-title u-fontSize24 u-xs-fontSize18 u-fontWeightThin u-textColorDarker">Featured</span></div>
            </div>
         </header>
      </header>
      <div class="u-borderBox u-paddingRight10 u-size8of12 js-trackedPost u-xs-size12of12 u-xs-paddingRight0 u-imageSpectrum" data-source="topic---8------0-----------" data-post-id="8b962ca58b49" data-scroll="native">
         <div class="u-relative u-baseColor--textDark u-marginBottom20 u-backgroundColorWhite u-borderRadius2 u-overflowHidden u-transition--boxShadow200 u-boxShadow4px16pxN2pxBlack10WithBorderBlack02">
            <a href="https://uxplanet.org/the-details-that-matter-8b962ca58b49?source=topic---8------0-----------" class="u-block u-sizeFullWidth u-backgroundSizeCover u-backgroundOriginBorderBox u-borderBox u-height460 u-xs-height250 u-borderLighter u-backgroundTransparentBlackDarker" style="background-image: url(&quot;https://cdn-images-1.medium.com/max/2000/darken/50/1*9QIpe-Mce0ltsgQ0f0lYWQ.png&quot;); background-position: 50% 50% !important;" data-source="topic---8------0-----------" data-post-id="8b962ca58b49"><span class="u-textScreenReader">The Details That Matter</span></a>
            <div class="u-borderBox u-flexColumn u-absolute0 u-paddingTop180 u-paddingLeft40 u-paddingRight40 u-paddingBottom40 u-xs-padding20">
               <div class="u-relative u-flex1">
                  <div class="u-flex1 u-flexWrap u-overflowHidden u-absolute0 u-flexColumnBottom">
                     <div class="u-flex0 u-sizeFullWidth">
                        <a class="" href="https://uxplanet.org/the-details-that-matter-8b962ca58b49?source=topic---8------0-----------" data-action-source="topic---8------0-----------" data-post-id="8b962ca58b49">
                           <h3 class="u-contentSansBold u-letterSpacingTight u-lineHeightTight u-marginBottom2 u-marginTop20 u-fontSize40 u-xs-fontSize24">The Details That&nbsp;Matter</h3>
                        </a>
                     </div>
                     <a class="" href="https://uxplanet.org/the-details-that-matter-8b962ca58b49?source=topic---8------0-----------" data-action-source="topic---8------0-----------" data-post-id="8b962ca58b49">
                        <h4 class="u-contentSansThin u-baseColor--textNormal u-textColorNormal u-letterSpacingTight u-flex0 u-sizeFullWidth u-maxHeight3LineHeightTight u-lineClamp3 u-textOverflowEllipsis u-marginTop7 u-fontSize20 u-xs-fontSize18">by Nick&nbsp;Babich</h4>
                     </a>
                  </div>
               </div>
               <div class="u-flex0 u-flexEnd u-marginTop15">
                  <div class="u-flex0 u-paddingRight10"><a class="link avatar u-baseColor--link" href="https://medium.com/@101" data-action="show-user-card" data-action-value="bcab753a4d4e" data-action-type="hover" data-user-id="bcab753a4d4e" dir="auto"><img src="https://cdn-images-1.medium.com/fit/c/80/80/1*ftnOlIAh5nolCvvrhc44-Q.png" class="avatar-image avatar-image--smaller" alt="Go to the profile of Nick Babich"></a></div>
                  <div class="u-flex1 u-paddingBottom3">
                     <a class="link link u-baseColor--textDark u-fontSize14 u-lineHeightTight u-baseColor--link" href="https://uxplanet.org/@101" data-action="show-user-card" data-action-value="bcab753a4d4e" data-action-type="hover" data-user-id="bcab753a4d4e" data-collection-slug="ux-planet" dir="auto">Nick Babich</a>
                     <div class="u-fontSize14 u-baseColor--textNormal u-textColorNormal u-noWrapWithEllipsis u-lineHeightTight"><time datetime="2017-03-23T10:32:43.467Z">Mar 23</time><span class="middotDivider u-fontSize12"></span><span class="readingTime" title="6 min read"></span></div>
                  </div>
                  <div class="u-flex0 u-baseColor--iconNormal">
                     <button class="button button--chromeless is-touchIconFadeInPulse u-baseColor--buttonNormal button--withIcon button--withSvgIcon button--bookmark js-bookmarkButton" title="Bookmark this story to read later" aria-label="Bookmark this story to read later" data-action="add-to-bookmarks" data-action-value="8b962ca58b49">
                        <span class="button-defaultState">
                           <span class="svgIcon svgIcon--bookmark svgIcon--25px is-flushRight is-flushBottom">
                              <svg class="svgIcon-use" width="25" height="25" viewBox="0 0 25 25">
                                 <path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path>
                              </svg>
                           </span>
                        </span>
                        <span class="button-activeState">
                           <span class="svgIcon svgIcon--bookmarkFilled svgIcon--25px is-flushRight is-flushBottom">
                              <svg class="svgIcon-use" width="25" height="26" viewBox="0 0 25 26">
                                 <path d="M19 7c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 17.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V7z" fill-rule="evenodd"></path>
                              </svg>
                           </span>
                        </span>
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="u-borderBox u-size4of12  u-paddingLeft10 u-xs-paddingLeft0 u-xs-paddingRight0 u-xs-size12of12 js-trackedPost" data-source="topic---8------2-----------" data-post-id="6e1d1953812f" data-scroll="native">
         <div class=" u-marginBottom20 u-backgroundColorWhite u-borderRadius2 u-overflowHidden u-transition--boxShadow200 u-boxShadow4px16pxN2pxBlack10WithBorderBlack02">
            <div class="u-borderBox u-flexColumn  u-height220 u-paddingLeft20 u-paddingRight20 u-paddingBottom20 u-xs-heightAuto">
               <div class="u-relative u-flex1">
                  <div class="u-flex1 u-flexWrap u-overflowHidden u-absolute0 u-flexColumnTop u-xs-relative">
                     <div class="u-flex0 u-sizeFullWidth">
                        <a class="" href="https://medium.freecodecamp.com/how-i-helped-my-partner-learn-to-code-6e1d1953812f?source=topic---8------2-----------" data-action-source="topic---8------2-----------" data-post-id="6e1d1953812f">
                           <h3 class="u-contentSansBold u-letterSpacingTight u-lineHeightTight u-marginBottom2 u-marginTop20 u-fontSize20 u-marginRight15">How I helped my partner learn to&nbsp;code</h3>
                        </a>
                     </div>
                     <a class="" href="https://medium.freecodecamp.com/how-i-helped-my-partner-learn-to-code-6e1d1953812f?source=topic---8------2-----------" data-action-source="topic---8------2-----------" data-post-id="6e1d1953812f">
                        <h4 class="u-contentSansThin u-baseColor--textNormal u-textColorNormal u-letterSpacingTight u-flex0 u-sizeFullWidth u-maxHeight3LineHeightTight u-lineClamp3 u-textOverflowEllipsis u-marginTop5 u-fontSize18 u-paddingBottom2">When my partner Siobhán decided she wanted to make a career change into data science last spring, I knew it would be a chance for me to&nbsp;see…</h4>
                     </a>
                  </div>
               </div>
               <div class="u-flex0 u-flexEnd u-marginTop15">
                  <div class="u-flex0 u-paddingRight10"><a class="link avatar u-baseColor--link" href="https://medium.com/@tashian" data-action="show-user-card" data-action-value="3299ebce81f1" data-action-type="hover" data-user-id="3299ebce81f1" dir="auto"><img src="https://cdn-images-1.medium.com/fit/c/80/80/1*bZ7giVP26wnbEPWxifUQlw.jpeg" class="avatar-image avatar-image--smaller" alt="Go to the profile of Carl Tashian"></a></div>
                  <div class="u-flex1 u-paddingBottom3">
                     <a class="link link u-baseColor--textDark u-fontSize14 u-lineHeightTight u-baseColor--link" href="https://medium.freecodecamp.com/@tashian" data-action="show-user-card" data-action-value="3299ebce81f1" data-action-type="hover" data-user-id="3299ebce81f1" data-collection-slug="free-code-camp" dir="auto">Carl Tashian</a>
                     <div class="u-fontSize14 u-baseColor--textNormal u-textColorNormal u-noWrapWithEllipsis u-lineHeightTight"><time datetime="2017-03-22T01:35:08.498Z">Mar 21</time><span class="middotDivider u-fontSize12"></span><span class="readingTime" title="7 min read"></span></div>
                  </div>
                  <div class="u-flex0 u-baseColor--iconNormal">
                     <button class="button button--chromeless is-touchIconFadeInPulse u-baseColor--buttonNormal button--withIcon button--withSvgIcon button--bookmark js-bookmarkButton" title="Bookmark this story to read later" aria-label="Bookmark this story to read later" data-action="add-to-bookmarks" data-action-value="6e1d1953812f">
                        <span class="button-defaultState">
                           <span class="svgIcon svgIcon--bookmark svgIcon--25px is-flushRight is-flushBottom">
                              <svg class="svgIcon-use" width="25" height="25" viewBox="0 0 25 25">
                                 <path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path>
                              </svg>
                           </span>
                        </span>
                        <span class="button-activeState">
                           <span class="svgIcon svgIcon--bookmarkFilled svgIcon--25px is-flushRight is-flushBottom">
                              <svg class="svgIcon-use" width="25" height="26" viewBox="0 0 25 26">
                                 <path d="M19 7c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 17.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V7z" fill-rule="evenodd"></path>
                              </svg>
                           </span>
                        </span>
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="u-borderBox u-size4of12  u-paddingLeft10 u-xs-paddingLeft0 u-xs-paddingRight0 u-xs-size12of12 js-trackedPost" data-source="topic---8------3-----------" data-post-id="58e7cae050f9" data-scroll="native">
         <div class=" u-marginBottom20 u-backgroundColorWhite u-borderRadius2 u-overflowHidden u-transition--boxShadow200 u-boxShadow4px16pxN2pxBlack10WithBorderBlack02">
            <div class="u-borderBox u-flexColumn  u-height220 u-paddingLeft20 u-paddingRight20 u-paddingBottom20 u-xs-heightAuto">
               <div class="u-relative u-flex1">
                  <div class="u-flex1 u-flexWrap u-overflowHidden u-absolute0 u-flexColumnTop u-xs-relative">
                     <div class="u-flex0 u-sizeFullWidth">
                        <a class="" href="https://trackchanges.postlight.com/modern-javascript-for-ancient-web-developers-58e7cae050f9?source=topic---8------3-----------" data-action-source="topic---8------3-----------" data-post-id="58e7cae050f9">
                           <h3 class="u-contentSansBold u-letterSpacingTight u-lineHeightTight u-marginBottom2 u-marginTop20 u-fontSize20 u-marginRight15">Modern JavaScript for Ancient Web Developers</h3>
                        </a>
                     </div>
                     <a class="" href="https://trackchanges.postlight.com/modern-javascript-for-ancient-web-developers-58e7cae050f9?source=topic---8------3-----------" data-action-source="topic---8------3-----------" data-post-id="58e7cae050f9">
                        <h4 class="u-contentSansThin u-baseColor--textNormal u-textColorNormal u-letterSpacingTight u-flex0 u-sizeFullWidth u-maxHeight3LineHeightTight u-lineClamp3 u-textOverflowEllipsis u-marginTop5 u-fontSize18 u-paddingBottom2">There’s a certain kind of old-school, backend web developer who, a long time ago, mastered things like Perl or Python or PHP or Java&nbsp;Server…</h4>
                     </a>
                  </div>
               </div>
               <div class="u-flex0 u-flexEnd u-marginTop15">
                  <div class="u-flex0 u-paddingRight10"><a class="link avatar u-baseColor--link" href="https://medium.com/@ginatrapani" data-action="show-user-card" data-action-value="e7173b64fd0d" data-action-type="hover" data-user-id="e7173b64fd0d" dir="auto"><img src="https://cdn-images-1.medium.com/fit/c/80/80/1*FD-Jv1BgI5_HHvt8WNzLAg.png" class="avatar-image avatar-image--smaller" alt="Go to the profile of Gina Trapani"></a></div>
                  <div class="u-flex1 u-paddingBottom3">
                     <a class="link link u-baseColor--textDark u-fontSize14 u-lineHeightTight u-baseColor--link" href="https://trackchanges.postlight.com/@ginatrapani" data-action="show-user-card" data-action-value="e7173b64fd0d" data-action-type="hover" data-user-id="e7173b64fd0d" data-collection-slug="track-changes" dir="auto">Gina Trapani</a>
                     <div class="u-fontSize14 u-baseColor--textNormal u-textColorNormal u-noWrapWithEllipsis u-lineHeightTight"><time datetime="2017-03-22T19:12:37.968Z">Mar 22</time><span class="middotDivider u-fontSize12"></span><span class="readingTime" title="7 min read"></span></div>
                  </div>
                  <div class="u-flex0 u-baseColor--iconNormal">
                     <button class="button button--chromeless is-touchIconFadeInPulse u-baseColor--buttonNormal button--withIcon button--withSvgIcon button--bookmark js-bookmarkButton" title="Bookmark this story to read later" aria-label="Bookmark this story to read later" data-action="add-to-bookmarks" data-action-value="58e7cae050f9">
                        <span class="button-defaultState">
                           <span class="svgIcon svgIcon--bookmark svgIcon--25px is-flushRight is-flushBottom">
                              <svg class="svgIcon-use" width="25" height="25" viewBox="0 0 25 25">
                                 <path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path>
                              </svg>
                           </span>
                        </span>
                        <span class="button-activeState">
                           <span class="svgIcon svgIcon--bookmarkFilled svgIcon--25px is-flushRight is-flushBottom">
                              <svg class="svgIcon-use" width="25" height="26" viewBox="0 0 25 26">
                                 <path d="M19 7c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 17.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V7z" fill-rule="evenodd"></path>
                              </svg>
                           </span>
                        </span>
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="u-borderBox u-size8of12 u-flex u-flexWrap  u-paddingRight10 u-xs-paddingLeft0 u-xs-paddingRight0 u-xs-size12of12 js-trackedPost" data-source="topic---8------1-----------" data-post-id="1d4c579585cc" data-scroll="native">
         <div class="u-sizeFullWidth u-flex u-flexWrap u-marginBottom20 u-backgroundColorWhite u-borderRadius2 u-overflowHidden u-transition--boxShadow200 u-boxShadow4px16pxN2pxBlack10WithBorderBlack02">
            <div class="u-lineHeightBase u-flex0 u-width240 u-height220 u-xs-height170 u-xs-sizeFullWidth"><a href="https://theringer.com/power-rangers-is-a-perfect-example-of-how-to-make-a-nostalgia-movie-1d4c579585cc?source=topic---8------1-----------" data-action="open-post" data-action-value="https://theringer.com/power-rangers-is-a-perfect-example-of-how-to-make-a-nostalgia-movie-1d4c579585cc?source=topic---8------1-----------" class="u-block u-backgroundSizeCover u-backgroundOriginBorderBox u-borderBox u-backgroundColorGrayLight u-borderLighter u-sizeFullHeight" style="background-image: url(&quot;https://cdn-images-1.medium.com/max/800/1*FXCPxEJVDlZDFWGPBiydVw.png&quot;); background-position: 62% 39% !important;"><span class="u-textScreenReader">‘Power Rangers’ Is a Perfect Example of How to Make a Nostalgia Movie</span></a></div>
            <div class="u-borderBox u-flexColumn u-flex1 u-xs-sizeFullWidth u-height220 u-paddingLeft20 u-paddingRight20 u-paddingBottom20 u-xs-heightAuto">
               <div class="u-relative u-flex1">
                  <div class="u-flex1 u-flexWrap u-overflowHidden u-absolute0 u-flexColumnTop u-xs-relative">
                     <div class="u-flex0 u-sizeFullWidth">
                        <a class="" href="https://theringer.com/power-rangers-is-a-perfect-example-of-how-to-make-a-nostalgia-movie-1d4c579585cc?source=topic---8------1-----------" data-action-source="topic---8------1-----------" data-post-id="1d4c579585cc">
                           <h3 class="u-contentSansBold u-letterSpacingTight u-lineHeightTight u-marginBottom2 u-marginTop20 u-fontSize20 u-marginRight15">‘Power Rangers’ Is a Perfect Example of How to Make a Nostalgia Movie</h3>
                        </a>
                     </div>
                     <a class="" href="https://theringer.com/power-rangers-is-a-perfect-example-of-how-to-make-a-nostalgia-movie-1d4c579585cc?source=topic---8------1-----------" data-action-source="topic---8------1-----------" data-post-id="1d4c579585cc">
                        <h4 class="u-contentSansThin u-baseColor--textNormal u-textColorNormal u-letterSpacingTight u-flex0 u-sizeFullWidth u-maxHeight3LineHeightTight u-lineClamp3 u-textOverflowEllipsis u-marginTop5 u-fontSize18 u-paddingBottom2">The mighty morphin’ reboot is so good it’s practically a teaching&nbsp;moment</h4>
                     </a>
                  </div>
               </div>
               <div class="u-flex0 u-flexEnd u-marginTop15">
                  <div class="u-flex0 u-paddingRight10"><a class="link avatar u-baseColor--link" href="https://medium.com/@ringer" data-action="show-user-card" data-action-value="cac92b00d045" data-action-type="hover" data-user-id="cac92b00d045" dir="auto"><img src="https://cdn-images-1.medium.com/fit/c/80/80/1*myMi9Xfr2eioA6tPmrRc0A.png" class="avatar-image avatar-image--smaller" alt="Go to the profile of The Ringer"></a></div>
                  <div class="u-flex1 u-paddingBottom3">
                     <a class="link link u-baseColor--textDark u-fontSize14 u-lineHeightTight u-baseColor--link" href="https://theringer.com/@ringer" data-action="show-user-card" data-action-value="cac92b00d045" data-action-type="hover" data-user-id="cac92b00d045" data-collection-slug="the-ringer" dir="auto">The Ringer</a>
                     <div class="u-fontSize14 u-baseColor--textNormal u-textColorNormal u-noWrapWithEllipsis u-lineHeightTight"><time datetime="2017-03-24T12:30:46.908Z">Mar 24</time><span class="middotDivider u-fontSize12"></span><span class="readingTime" title="7 min read"></span></div>
                  </div>
                  <div class="u-flex0 u-baseColor--iconNormal">
                     <button class="button button--chromeless is-touchIconFadeInPulse u-baseColor--buttonNormal button--withIcon button--withSvgIcon button--bookmark js-bookmarkButton" title="Bookmark this story to read later" aria-label="Bookmark this story to read later" data-action="add-to-bookmarks" data-action-value="1d4c579585cc">
                        <span class="button-defaultState">
                           <span class="svgIcon svgIcon--bookmark svgIcon--25px is-flushRight is-flushBottom">
                              <svg class="svgIcon-use" width="25" height="25" viewBox="0 0 25 25">
                                 <path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path>
                              </svg>
                           </span>
                        </span>
                        <span class="button-activeState">
                           <span class="svgIcon svgIcon--bookmarkFilled svgIcon--25px is-flushRight is-flushBottom">
                              <svg class="svgIcon-use" width="25" height="26" viewBox="0 0 25 26">
                                 <path d="M19 7c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 17.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V7z" fill-rule="evenodd"></path>
                              </svg>
                           </span>
                        </span>
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="u-borderBox u-size4of12  u-paddingLeft10 u-xs-paddingLeft0 u-xs-paddingRight0 u-xs-size12of12 js-trackedPost" data-source="topic---8------4-----------" data-post-id="779515a81dd3" data-scroll="native">
         <div class=" u-marginBottom20 u-backgroundColorWhite u-borderRadius2 u-overflowHidden u-transition--boxShadow200 u-boxShadow4px16pxN2pxBlack10WithBorderBlack02">
            <div class="u-borderBox u-flexColumn  u-height220 u-paddingLeft20 u-paddingRight20 u-paddingBottom20 u-xs-heightAuto">
               <div class="u-relative u-flex1">
                  <div class="u-flex1 u-flexWrap u-overflowHidden u-absolute0 u-flexColumnTop u-xs-relative">
                     <div class="u-flex0 u-sizeFullWidth">
                        <a class="" href="https://medium.com/personal-growth/your-desk-will-not-attend-your-funeral-779515a81dd3?source=topic---8------4-----------" data-action-source="topic---8------4-----------" data-post-id="779515a81dd3">
                           <h3 class="u-contentSansBold u-letterSpacingTight u-lineHeightTight u-marginBottom2 u-marginTop20 u-fontSize20 u-marginRight15">Your Desk Will Not Attend Your&nbsp;Funeral</h3>
                        </a>
                     </div>
                     <a class="" href="https://medium.com/personal-growth/your-desk-will-not-attend-your-funeral-779515a81dd3?source=topic---8------4-----------" data-action-source="topic---8------4-----------" data-post-id="779515a81dd3">
                        <h4 class="u-contentSansThin u-baseColor--textNormal u-textColorNormal u-letterSpacingTight u-flex0 u-sizeFullWidth u-maxHeight3LineHeightTight u-lineClamp3 u-textOverflowEllipsis u-marginTop5 u-fontSize18 u-paddingBottom2">I didn’t expect to find a rock in my dad’s&nbsp;closet.</h4>
                     </a>
                  </div>
               </div>
               <div class="u-flex0 u-flexEnd u-marginTop15">
                  <div class="u-flex0 u-paddingRight10">
                     <a class="link avatar u-baseColor--link" href="https://medium.com/@ToddBrison" data-action="show-user-card" data-action-value="7e13af5e3c36" data-action-type="hover" data-user-id="7e13af5e3c36" dir="auto">
                        <div class="u-relative">
                           <img src="https://cdn-images-1.medium.com/fit/c/80/80/0*re5tyl3z_B5S9Dl-.jpeg" class="avatar-image avatar-image--smaller" alt="Go to the profile of Todd Brison">
                           <div class="u-absolute u-tintSpectrum u-accentColor--iconNormal u-textColorGreenNormal svgIcon" style="width: calc(100% + 10px); height: calc(100% + 10px); top:-5px; left:-5px">
                              <svg viewBox="0 0 70 70" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M5.53538374,19.9430227 C11.180401,8.78497536 22.6271155,1.6 35.3571429,1.6 C48.0871702,1.6 59.5338847,8.78497536 65.178902,19.9430227 L66.2496695,19.401306 C60.4023065,7.84329843 48.5440457,0.4 35.3571429,0.4 C22.17024,0.4 10.3119792,7.84329843 4.46461626,19.401306 L5.53538374,19.9430227 Z"></path>
                                 <path d="M65.178902,49.9077131 C59.5338847,61.0657604 48.0871702,68.2507358 35.3571429,68.2507358 C22.6271155,68.2507358 11.180401,61.0657604 5.53538374,49.9077131 L4.46461626,50.4494298 C10.3119792,62.0074373 22.17024,69.4507358 35.3571429,69.4507358 C48.5440457,69.4507358 60.4023065,62.0074373 66.2496695,50.4494298 L65.178902,49.9077131 Z"></path>
                              </svg>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="u-flex1 u-paddingBottom3">
                     <a class="link link u-baseColor--textDark u-fontSize14 u-lineHeightTight u-baseColor--link" href="https://medium.com/@ToddBrison" data-action="show-user-card" data-action-value="7e13af5e3c36" data-action-type="hover" data-user-id="7e13af5e3c36" dir="auto">Todd Brison</a>
                     <div class="u-fontSize14 u-baseColor--textNormal u-textColorNormal u-noWrapWithEllipsis u-lineHeightTight"><time datetime="2017-03-16T12:22:00.225Z">Mar 16</time><span class="middotDivider u-fontSize12"></span><span class="readingTime" title="2 min read"></span></div>
                  </div>
                  <div class="u-flex0 u-baseColor--iconNormal">
                     <button class="button button--chromeless is-touchIconFadeInPulse u-baseColor--buttonNormal button--withIcon button--withSvgIcon button--bookmark js-bookmarkButton" title="Bookmark this story to read later" aria-label="Bookmark this story to read later" data-action="add-to-bookmarks" data-action-value="779515a81dd3">
                        <span class="button-defaultState">
                           <span class="svgIcon svgIcon--bookmark svgIcon--25px is-flushRight is-flushBottom">
                              <svg class="svgIcon-use" width="25" height="25" viewBox="0 0 25 25">
                                 <path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path>
                              </svg>
                           </span>
                        </span>
                        <span class="button-activeState">
                           <span class="svgIcon svgIcon--bookmarkFilled svgIcon--25px is-flushRight is-flushBottom">
                              <svg class="svgIcon-use" width="25" height="26" viewBox="0 0 25 26">
                                 <path d="M19 7c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 17.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V7z" fill-rule="evenodd"></path>
                              </svg>
                           </span>
                        </span>
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>
