<div class="streamItem streamItem--section js-streamItem">
   <section class="u-marginAuto u-borderBox u-maxWidth1000 u-clearfix u-marginBottom60 u-sm-paddingLeft20 u-sm-paddingRight20">
      <header class="u-marginBottom15 u-paddingBottom5">
         <header class="heading u-clearfix">
            <div class="u-clearfix">
               <div class="heading-content u-floatLeft"><span class="heading-title u-fontSize24 u-xs-fontSize18 u-fontWeightThin u-textColorDarker">Featured</span></div>
            </div>
         </header>
      </header>
      {% for obj in news %}
      {% if obj.id == 1 %}
      <div class="u-borderBox u-paddingRight10 u-size8of12 js-trackedPost u-xs-size12of12 u-xs-paddingRight0 u-imageSpectrum" data-source="topic---8------0-----------" data-post-id="" data-scroll="native">
         <div class="u-relative u-baseColor--textDark u-marginBottom20 u-backgroundColorWhite u-borderRadius2 u-overflowHidden u-transition--boxShadow200 u-boxShadow4px16pxN2pxBlack10WithBorderBlack02">
            <a href={{obj.link}} class="u-block u-sizeFullWidth u-backgroundSizeCover u-backgroundOriginBorderBox u-borderBox u-height460 u-xs-height250 u-borderLighter u-backgroundTransparentBlackDarker" style="background-image: url(&quot;{{obj.image}} &quot;); background-position: 50% 50% !important;" data-source="topic---8------0-----------" data-post-id="8b962ca58b49"><span class="u-textScreenReader">
              {{obj.title}}</span></a>
            <div class="u-borderBox u-flexColumn u-absolute0 u-paddingTop180 u-paddingLeft40 u-paddingRight40 u-paddingBottom40 u-xs-padding20">
               <div class="u-relative u-flex1">
                  <div class="u-flex1 u-flexWrap u-overflowHidden u-absolute0 u-flexColumnBottom">
                     <div class="u-flex0 u-sizeFullWidth">
                        <a class="" href={{obj.link}} data-action-source={{obj.link}} data-post-id={{obj.link}}>
                           <h3 class="u-contentSansBold u-letterSpacingTight u-lineHeightTight u-marginBottom2 u-marginTop20 u-fontSize40 u-xs-fontSize24">{{obj.title}}</h3>
                        </a>
                     </div>
                     <a class="" href={{obj.link}} data-action-source={{obj.link}} data-post-id={{obj.link}}>
                        <h4 class="u-contentSansThin u-baseColor--textNormal u-textColorNormal u-letterSpacingTight u-flex0 u-sizeFullWidth u-maxHeight3LineHeightTight u-lineClamp3 u-textOverflowEllipsis u-marginTop7 u-fontSize20 u-xs-fontSize18">by NY Times</h4>
                     </a>
                  </div>
               </div>
               <div class="u-flex0 u-flexEnd u-marginTop15">
                  <div class="u-flex0 u-paddingRight10"><a class="link avatar u-baseColor--link" href={{obj.link}} data-action="show-user-card" data-action-value="bcab753a4d4e" data-action-type="hover" data-user-id="bcab753a4d4e" dir="auto"><img src="/static/img/nyt.png" class="avatar-image avatar-image--smaller" alt="Go to the profile"></a></div>
                  <div class="u-flex1 u-paddingBottom3">
                     <a class="link link u-baseColor--textDark u-fontSize14 u-lineHeightTight u-baseColor--link" href={{obj.link}} data-action="show-user-card" data-action-value="bcab753a4d4e" data-action-type="hover" data-user-id="bcab753a4d4e" data-collection-slug="ux-planet" dir="auto">by NY Times</a>
                     <div class="u-fontSize14 u-baseColor--textNormal u-textColorNormal u-noWrapWithEllipsis u-lineHeightTight"><time datetime="2017-03-23T10:32:43.467Z">Mar 23</time><span class="middotDivider u-fontSize12"></span><span class="readingTime" title="{{obj.readingtime}} min read"></span></div>
                  </div>
                  <div class="u-flex0 u-baseColor--iconNormal">
                     <button class="button button--chromeless is-touchIconFadeInPulse u-baseColor--buttonNormal button--withIcon button--withSvgIcon button--bookmark js-bookmarkButton" title="Bookmark this story to read later" aria-label="Bookmark this story to read later" data-action="add-to-bookmarks" data-action-value="8b962ca58b49">
                        <span class="button-defaultState">
                           <span class="svgIcon svgIcon--bookmark svgIcon--25px is-flushRight is-flushBottom">
                              <svg class="svgIcon-use" width="25" height="25" viewBox="0 0 25 25">
                                 <path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path>
                              </svg>
                           </span>
                        </span>
                        <span class="button-activeState">
                           <span class="svgIcon svgIcon--bookmarkFilled svgIcon--25px is-flushRight is-flushBottom">
                              <svg class="svgIcon-use" width="25" height="26" viewBox="0 0 25 26">
                                 <path d="M19 7c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 17.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V7z" fill-rule="evenodd"></path>
                              </svg>
                           </span>
                        </span>
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {% elif obj.id == 0 %}
      <div class="u-borderBox u-size8of12 u-flex u-flexWrap  u-paddingRight10 u-xs-paddingLeft0 u-xs-paddingRight0 u-xs-size12of12 js-trackedPost" data-source="topic---8------1-----------" data-post-id="" data-scroll="native">
         <div class="u-sizeFullWidth u-flex u-flexWrap u-marginBottom20 u-backgroundColorWhite u-borderRadius2 u-overflowHidden u-transition--boxShadow200 u-boxShadow4px16pxN2pxBlack10WithBorderBlack02">
            <div class="u-lineHeightBase u-flex0 u-width240 u-height220 u-xs-height170 u-xs-sizeFullWidth"><a href="{{obj.ref}}" data-action="open-post" data-action-value="https://theringer.com/power-rangers-is-a-perfect-example-of-how-to-make-a-nostalgia-movie-1d4c579585cc?source=topic---8------1-----------" class="u-block u-backgroundSizeCover u-backgroundOriginBorderBox u-borderBox u-backgroundColorGrayLight u-borderLighter u-sizeFullHeight" style="background-image: url(&quot;{{obj.image}}&quot;); background-position: 62% 39% !important;"><span class="u-textScreenReader">{{obj.title}}</span></a></div>
            <div class="u-borderBox u-flexColumn u-flex1 u-xs-sizeFullWidth u-height220 u-paddingLeft20 u-paddingRight20 u-paddingBottom20 u-xs-heightAuto">
               <div class="u-relative u-flex1">
                  <div class="u-flex1 u-flexWrap u-overflowHidden u-absolute0 u-flexColumnTop u-xs-relative">
                     <div class="u-flex0 u-sizeFullWidth">
                        <a class="" href={{obj.ref}} data-action-source={{obj.link}} data-post-id="">
                           <h3 class="u-contentSansBold u-letterSpacingTight u-lineHeightTight u-marginBottom2 u-marginTop20 u-fontSize20 u-marginRight15">{{obj.title}}</h3>
                        </a>
                     </div>
                     <a class="" href={{obj.ref}} data-action-source={{obj.link}} data-post-id="">
                        <h4 class="u-contentSansThin u-baseColor--textNormal u-textColorNormal u-letterSpacingTight u-flex0 u-sizeFullWidth u-maxHeight3LineHeightTight u-lineClamp3 u-textOverflowEllipsis u-marginTop5 u-fontSize18 u-paddingBottom2">{{obj.intro}}</h4>
                     </a>
                  </div>
               </div>
               <div class="u-flex0 u-flexEnd u-marginTop15">
                  <div class="u-flex0 u-paddingRight10"><a class="link avatar u-baseColor--link" href={{obj.link}} data-action="show-user-card" data-action-value="cac92b00d045" data-action-type="hover" data-user-id="cac92b00d045" dir="auto"><img src="/static/img/nyt.png" class="avatar-image avatar-image--smaller" alt="Go to the profile"></a></div>
                  <div class="u-flex1 u-paddingBottom3">
                     <a class="link link u-baseColor--textDark u-fontSize14 u-lineHeightTight u-baseColor--link" href={{obj.link}} data-action="show-user-card" data-action-value="cac92b00d045" data-action-type="hover" data-user-id="cac92b00d045" data-collection-slug="" dir="auto">NY Times</a>
                     <div class="u-fontSize14 u-baseColor--textNormal u-textColorNormal u-noWrapWithEllipsis u-lineHeightTight"><time datetime="2017-03-24T12:30:46.908Z">Mar 24</time><span class="middotDivider u-fontSize12"></span><span class="readingTime" title="{{obj.readingtime}} min read"></span></div>
                  </div>
                  <div class="u-flex0 u-baseColor--iconNormal">
                     <button class="button button--chromeless is-touchIconFadeInPulse u-baseColor--buttonNormal button--withIcon button--withSvgIcon button--bookmark js-bookmarkButton" title="Bookmark this story to read later" aria-label="Bookmark this story to read later" data-action="add-to-bookmarks" data-action-value="1d4c579585cc">
                        <span class="button-defaultState">
                           <span class="svgIcon svgIcon--bookmark svgIcon--25px is-flushRight is-flushBottom">
                              <svg class="svgIcon-use" width="25" height="25" viewBox="0 0 25 25">
                                 <path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path>
                              </svg>
                           </span>
                        </span>
                        <span class="button-activeState">
                           <span class="svgIcon svgIcon--bookmarkFilled svgIcon--25px is-flushRight is-flushBottom">
                              <svg class="svgIcon-use" width="25" height="26" viewBox="0 0 25 26">
                                 <path d="M19 7c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 17.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V7z" fill-rule="evenodd"></path>
                              </svg>
                           </span>
                        </span>
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {% else %}
      <div class="u-borderBox u-size4of12  u-paddingLeft10 u-xs-paddingLeft0 u-xs-paddingRight0 u-xs-size12of12 js-trackedPost" data-source="topic---8------2-----------" data-post-id="" data-scroll="native">
         <div class=" u-marginBottom20 u-backgroundColorWhite u-borderRadius2 u-overflowHidden u-transition--boxShadow200 u-boxShadow4px16pxN2pxBlack10WithBorderBlack02">
            <div class="u-borderBox u-flexColumn  u-height220 u-paddingLeft20 u-paddingRight20 u-paddingBottom20 u-xs-heightAuto">
               <div class="u-relative u-flex1">
                  <div class="u-flex1 u-flexWrap u-overflowHidden u-absolute0 u-flexColumnTop u-xs-relative">
                     <div class="u-flex0 u-sizeFullWidth">
                        <a class="" href={{obj.link}} data-action-source={{obj.link}} data-post-id="">
                           <h3 class="u-contentSansBold u-letterSpacingTight u-lineHeightTight u-marginBottom2 u-marginTop20 u-fontSize20 u-marginRight15">{{obj.title}}</h3>
                        </a>
                     </div>
                     <a class="" href={{obj.link}} data-action-source={{obj.link}} data-post-id="">
                        <h4 class="u-contentSansThin u-baseColor--textNormal u-textColorNormal u-letterSpacingTight u-flex0 u-sizeFullWidth u-maxHeight3LineHeightTight u-lineClamp3 u-textOverflowEllipsis u-marginTop5 u-fontSize18 u-paddingBottom2">{{obj.intro}}</h4>
                     </a>
                  </div>
               </div>
               <div class="u-flex0 u-flexEnd u-marginTop15">
                  <div class="u-flex0 u-paddingRight10"><a class="link avatar u-baseColor--link" href={{obj.link}} data-action="show-user-card" data-action-value="3299ebce81f1" data-action-type="hover" data-user-id="3299ebce81f1" dir="auto"><img src="/static/img/nyt.png" class="avatar-image avatar-image--smaller" alt="Go to the profile"></a></div>
                  <div class="u-flex1 u-paddingBottom3">
                     <a class="link link u-baseColor--textDark u-fontSize14 u-lineHeightTight u-baseColor--link" href={{obj.link}} data-action="show-user-card" data-action-value="3299ebce81f1" data-action-type="hover" data-user-id="3299ebce81f1" data-collection-slug="free-code-camp" dir="auto">NY Times</a>
                     <div class="u-fontSize14 u-baseColor--textNormal u-textColorNormal u-noWrapWithEllipsis u-lineHeightTight"><time datetime="2017-03-24T12:30:46.908Z">Mar 24</time><span class="middotDivider u-fontSize12"></span><span class="readingTime" title="{{obj.readingtime}} min read"></span></div>
                  </div>
                  <div class="u-flex0 u-baseColor--iconNormal">
                     <button class="button button--chromeless is-touchIconFadeInPulse u-baseColor--buttonNormal button--withIcon button--withSvgIcon button--bookmark js-bookmarkButton" title="Bookmark this story to read later" aria-label="Bookmark this story to read later" data-action="add-to-bookmarks" data-action-value="6e1d1953812f">
                        <span class="button-defaultState">
                           <span class="svgIcon svgIcon--bookmark svgIcon--25px is-flushRight is-flushBottom">
                              <svg class="svgIcon-use" width="25" height="25" viewBox="0 0 25 25">
                                 <path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path>
                              </svg>
                           </span>
                        </span>
                        <span class="button-activeState">
                           <span class="svgIcon svgIcon--bookmarkFilled svgIcon--25px is-flushRight is-flushBottom">
                              <svg class="svgIcon-use" width="25" height="26" viewBox="0 0 25 26">
                                 <path d="M19 7c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 17.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V7z" fill-rule="evenodd"></path>
                              </svg>
                           </span>
                        </span>
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {% endif %}

      {% endfor %}


   </section>
</div>
